<% if relations.any? %>
  <ul class="product-listing">
    <% relations.each do |relation| %>
      <% product = relation.related_to %>
      <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
        <li id="product_<%= product.id %>">
          <%= link_to small_image(product), product, :class => "photo" %>
          <%= link_to raw(product.name + "<span class='price selling'>#{product_price(product)}</span>"), product, :class => 'info' %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
